/* html, body
{
    height: 100%;
} */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.top {
    background-color: pink;

}

.left,
.right {
    background-color: bisque;
    padding: 20px;
    float: left;
    width: 100%;
    height: 100%;

}
.left img{
    width: 100%;
    height: 100%;
}
.right{
    background-color: blueviolet;
    min-height: 560px;
   
}

@media screen and (min-width: 480px) {
    .right, .left { 
      /*width: 90%; */
      margin: auto;
      
    }
  }
  @media screen and (min-width: 660px) {
    .right, .left { 
      width: 50%;
      margin: auto;
      
    }
  }
  @media screen and (min-width: 780px) {
    .right, .left { 
      width: 50%;
      
    }
  }
/* started with min-400px going up so width will be 100px
code above is for below 400, 480px is a breakpoint- */